import React, { PureComponent } from 'react';
{{#if wantMessages}}
import { intlShape, FormattedMessage } from 'react-intl';
{{/if}}

{{#unless wantStyledComponents}}
import './{{ properCase name }}.style.css';
{{/unless}}
{{#if wantStyledComponents}}
import Styled{{ properCase name }} from './{{ properCase name }}.style';
{{/if}}

interface IProps {
  {{#if wantMessages}}
  intl: intlShape,
  {{/if}}
};

class {{ properCase name }} extends PureComponent<IProps> {
  render() {
    return (
      {{#unless wantStyledComponents}}
      <div className="{{ dashCase name }}-container">
      {{/unless}}
      {{#if wantStyledComponents}}
      <Styled{{ properCase name }}>
      {{/if}}
        {{#if wantMessages}}
        <FormattedMessage id="please.change.me" />
        {{/if}}
      {{#unless wantStyledComponents}}
      </div>
      {{/unless}}
      {{#if wantStyledComponents}}
      </Styled{{ properCase name }}>
      {{/if}}
    );
  }
}

export default {{ properCase name }};
